{% load static %}
<!--begin::Head-->
<head>
    <base href=""/>
    <title>PEAK PERMITS</title>
    <meta charset="utf-8" />
    <meta name="description" content="Welcome to Peak Permits" />
    <meta name="keywords" content="Peak Permits" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="Peak Permits" />
    <meta property="og:url" content="https://www.peakpermits.com/" />
    <meta property="og:site_name" content="Peak Permits" />
    <link rel="canonical" href="https://www.peakpermits.com/" />
    <link rel="shortcut icon" href="{% static 'assets/media/logos/logo.png' %}" />
    <!--begin::Fonts(mandatory for all pages)-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700" />
    <!--end::Fonts-->
    <!--begin::Global Stylesheets Bundle(mandatory for all pages)-->
    <link href="{% static 'assets/plugins/global/plugins.bundle.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/css/style.bundle.css' %}" rel="stylesheet" type="text/css" />
    <!--end::Global Stylesheets Bundle-->
</head>
<!--end::Head-->
